.dogeSwiper {
    height: 80%;
}
img.dogePortrait {
    width: 25%;
}
.DogeSelectionWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: darkorange;
    bottom:0px;
}
